* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.logo {
    background-color: #ffd700;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    text-transform: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    border-radius: 5px;
}

.logo p {
    margin: -10px 0 0 0;
}

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 50px 20px 115px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 100px;
    background-color: #e0dede;
}

.navigation {
    display: flex;
    gap: 45px;
    padding-left: 28%;
    flex-grow: 1;
}

.navigation a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #ffd700;
}

.navigation a.active {
    color: #ffd700;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.section {
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.section-20 {
    width: 20%;
}

.section-60 {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.rectangle {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    text-align: left;
    margin: 0 auto;
    max-width: 280px;
    height: 450px;
    position: fixed;
    left: 100px;
    padding-right: 35px;
}

.rectangle h2 {
    margin: 10px 0;
    font-weight: normal;
    padding-left: 20px;
}

.rectangle hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

.rectangle h3 {
    margin-top: 15px;
    text-align: left;
}

.rectangle ul {
    list-style-type: none;
    padding-left: 0;
}

.rectangle ul li {
    margin-top: 20px;
    padding-left: 20px;
}

.post {
    display: block;
    width: 700px; 
    margin: 0px auto 40px auto;
    background-color: #ffffff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    height: 700px;
}

.circle {
    width: 50px; 
    height: 50px; 
    background-color: #9c9c9c; 
    border-radius: 50%; 
    margin-right: 15px; 
    flex-shrink: 0; 
}

.post img {
    width: 100%;
}

.post p {
    color: #000;
    font-weight: bold;
}

.description {
    color: #000;
    text-align: left;
    margin-top: 10px;
}

.account {
    display: flex;
    margin: 0 auto 20px auto;
}

.account p {
    padding-top: 15px;
}

.date {
    padding-left: 0px;
}

.accountdate p {
    text-align: left;
    line-height: 0.35;
}

.date p {
    font-size: 12px;
    font-weight: normal;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
    margin-top: 30px;
}

.heart, .comment {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.like-text {
    margin-left: 3px; 
    font-size: 14px;
    color: #231f20;
}

.comment-text {
    margin-left: 10px; 
    font-size: 14px;
    color: #231f20;
}

.rectangle a {
    color: #000000; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.rectangle a:hover {
    color: #ffd700; 
}

.rectangle a.active {
    color: #ffd700; 
    font-weight: bold; 
}

.notification {
    background-color: #ffffff; 
    padding: 15px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    color: #000; 
    text-align: left; 
    margin: 0 auto; 
    max-width: 280px; 
    height: 200px;
    position: fixed;
    right: 100px;
    padding-right: 50px;
}

.notification h2 {
    margin: 25px 0; 
    font-weight: normal; 
    padding-left: 35px;
}

.post2 img {
    height: 430px;
    width: auto;
}

.post3 img {
    height: 430px;
    width: auto;
}

.rating1 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    gap: 390px;
}

.rating2 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    gap: 350px;
}

.rating3 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    gap: 330px;
}

.star {
    display: flex;
    gap: 3px; 
    margin-left: auto; 
}
